android/bin/*
android/gen/*
android/gradle/*
android/build/*
android/local.properties
android/.gradle/*
.idea/*
android/BumbleBee/.idea/*
android/BumbleBee/.gradle/
android/BumbleBee/build/
android/BumbleBee/gradle/
android/BumbleBee/local.properties
android/.gradle/
